@font-face {
    font-family: 'Hanken Grotesk';
    src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');  
}

:root{
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
        
    --Light-slate-blue-bg: hsl(252, 100%, 67%);
    --Light-royal-blue-bg: hsl(241, 81%, 54%);
    
    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
        
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    --footer-color: hsl(228, 45%, 44%);
}

* {
    margin: 0;
    padding: 0
}

body{ 
    font-family: 'Hanken Grotesk', sans-serif;
    min-height: 100vh;
    font-size: 1.125rem;
}

.blue_container{
    background: linear-gradient(var(--Light-slate-blue-bg), var(--Light-royal-blue-bg));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
}

.Result_title{
    font-weight: 500;
    color: var(--Light-lavender);
    margin-top: 1em;
}

.Total{ color: var(--Light-lavender) }

.result_bg{
    background: linear-gradient(to top, var(--Persian-blue-circle), var(--Violet-blue-circle));
    border-radius: 50%;
    padding: 1em 2em 1em 2em;
    margin-top: 1em;
}

#result{
    font-size: 4rem;
    font-weight: 800;
    color: white;
}

.result_bg p {
    font-size: 1em;
    text-align: center;
}

.result_description{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1em;
}

.result_message{
    color: var(--Light-lavender);
    font-size: 1rem;
    margin-top: 1em;
    padding-left: 4em;
    padding-right: 4em;
    margin-bottom: 3em;
    text-align: center;
}

@media screen and (min-width: 26.625rem) {

}
